# Exclude these from distribution archives (smaller package for users)
/.github            export-ignore
/tests              export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phpunit.xml        export-ignore
/phpstan.neon       export-ignore
/.php-cs-fixer.php  export-ignore
/phpdoc.xml         export-ignore
/coverage           export-ignore
/docs               export-ignore
/tools              export-ignore

